<nav class="navbar">

    <div class="container">

        <a class="logo" href="{{ '/' | relative_url }}">
            My Portfolio
        </a>


        <ul class="nav-links">

            <li><a href="#about">About</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#highlights">Achievements</a></li>
            <li><a href="#highlights">Skills</a></li>
            <li><a href="#highlights">Certifications</a></li>
            <li><a href="#highlights">Experience</a></li>
            <li><a href="#contact">Contact</a></li>
            

        </ul>

    </div>

</nav>