<section class="technical-skills">


    <div class="skills-header">

        <h2>Technical Skills</h2>

        <p>
            Technologies, tools, and platforms I use for software and web development and continuous learning.
        </p>

    </div>



    <div class="skills-panels">


        <div class="skill-panel">

            <div class="skill-title">
                <i class="fas fa-code"></i>
                <h3>Programming Languages</h3>
            </div>


            <div class="skill-items">

                {% for skill in site.data.skills.programming %}

                <span>{{ skill }}</span>

                {% endfor %}

            </div>

        </div>



        <div class="skill-panel">

            <div class="skill-title">
                <i class="fas fa-globe"></i>
                <h3>Database</h3>
            </div>


            <div class="skill-items">

                {% for skill in site.data.skills.databases %}

                <span>{{ skill }}</span>

                {% endfor %}

            </div>

        </div>



        <div class="skill-panel">

            <div class="skill-title">
                <i class="fas fa-database"></i>
                <h3>Web Development</h3>
            </div>


            <div class="skill-items">

                {% for skill in site.data.skills.web_development %}

                <span>{{ skill }}</span>

                {% endfor %}

            </div>

        </div>



        <div class="skill-panel">

            <div class="skill-title">
                <i class="fas fa-tools"></i>
                <h3>Technologies & Tools</h3>
            </div>


            <div class="skill-items">

                {% for skill in site.data.skills.tools %}

                <span>{{ skill }}</span>

                {% endfor %}

            </div>

        </div>



        <div class="skill-panel">

            <div class="skill-title">
                <i class="fas fa-cloud"></i>
                <h3>Currently Learning</h3>
            </div>


            <div class="skill-items">

                {% for skill in site.data.skills.currently_learning %}

                <span>{{ skill }}</span>

                {% endfor %}

            </div>

        </div>


    </div>


</section>