.container{

    width:min(var(--container),90%);
    margin:auto;

}

.section-title{

    font-size:2.25rem;
    font-weight:700;

    margin-bottom:15px;

    color:var(--navy);

}

.section-subtitle{

    color:var(--gray);

    max-width:700px;

    margin-bottom:50px;

}