/* ==========================================
   GLOBAL LAYOUT
========================================== */

main {
    width: 100%;
    min-width: 0;
}


/* ==========================================
   CONTAINER
========================================== */

.container {
    width: min(
        calc(100% - 40px),
        var(--container)
    );

    margin-inline: auto;

    min-width: 0;
}


/* ==========================================
   RESPONSIVE CONTAINER
========================================== */

@media (max-width: 768px) {

    .container {
        width: calc(100% - 32px);
    }

}


@media (max-width: 480px) {

    .container {
        width: calc(100% - 28px);
    }

}