.project-card {
    display: flex;
    flex-direction: column;
}

.project-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.project-tech {
    display: flex;
    flex-wrap: wrap;
}

.project-links {
    margin-top: auto;      // pushes buttons to same bottom position
    display: flex;
}